html {
  font-size: 70%;
  height: 100%;
}
body {
  height: 100%;
}
header {
  background-color: #beb3f5;
  height: 50px;
  width: 100%;
  font-size: 1.5rem;
}
footer{
  width: 100%;
  height: 100px;
  bottom: 0;
  background-color: #b3f5b3;
  display: table;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.h {
  color: #b3dff5;
  font-size: 20px;
}
